#root,
body,
html {
      height: 100%;

      ::placeholder {
            color: #ffffff;
      }
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

@font-face {
      font-family: 'BreeSerif';
      src: url('./BreeSerif-Regular.ttf') format('truetype');
      font-style: normal;
      font-display: swap;
}

.App:before {
      content: '';
      background: url('./cloudy-sky-dawn.jpg') no-repeat center center/cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
}

.App {
      height: 100%;
      position: relative;
      color: white;
      font-family: 'BreeSerif';
      padding: 5em 7em;
      display: flex;

      flex-direction: column;


      .location {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .location_input {
                  padding: 0.7rem 1.5rem;
                  font-size: 1.2rem;
                  border-radius: 25px;
                  border: 1px solid rgba(255, 255, 255, 0.8);
                  background: rgba(255, 255, 255, 0.1);
                  color: #f8f8f8;
            }

            .btn {
                  background-color: rgba(255, 255, 255, 0.2);

                  color: rgb(255, 255, 255);
                  padding: 8px;

                  border: 1px solid #d05b2700;
                  border-radius: 10px;
                  cursor: pointer;

                  &:hover {
                        opacity: 0.7;
                  }
            }
      }

      .weather_result {
            .top {
                  display: flex;
                  justify-content: center;
                  padding: 5em;


                  .name {
                        font-size: 20px;
                  }

                  .res {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        font-size: 30px;

                        .description {
                              font-size: 50px;
                        }
                  }
            }

            .middle {
                  width: fit-content;
                  margin-bottom: 50px;
                  display: flex;
                  position: relative;
                  gap: 50px;
                  padding: 1rem;
                  border-radius: 12px;
                  background-color: rgba(255, 255, 255, 0.2);
            }

            .bottom {
                  display: flex;
                  gap: 150px;

                  .feels,
                  .humidity {
                        border-right: 1px solid white;
                  }

                  .feels,
                  .humidity,
                  .wind {
                        padding: 20px;
                        font-size: 40px;
                  }
            }
      }
}